version: '3.9'
services:
  postgres:
    image: postgis/postgis
    environment:
      POSTGRES_USER: smartcity
      POSTGRES_PASSWORD: smartcity123
      POSTGRES_DB: smartcitydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: kafka
    depends_on:
      - zookeeper

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

volumes:
  db_data:
